@import "tailwindcss" prefix(x);
@import "../styles/default.css";
@import "../styles/cards.css";
@import "../styles/code-block.css";

.x-background {
  @apply x:h-screen x:overflow-y-scroll;
}

.x-button {
  @apply x:bg-black x:text-white x:hover:bg-black/60 x:transition-colors x:rounded x:p-2 x:inline-block x:no-underline!;
}

.x-top-nav {
  @apply x:px-2 x:py-5 x:flex x:items-center x:justify-between x:flex-col x:sm:flex-row;

  .x-main-link {
    @apply x:font-bold x:hover:underline
  }

  .x-menu {
    @apply x:flex x:flex-row x:list-none x:gap-4 x:m-0 x:items-center x:font-medium;

    a {
      @apply x:hover:underline;
    }
  }

  .x-cta-button {
    @apply x:bg-black x:text-white x:hover:bg-violet-700 x:transition-colors x:rounded x:p-2 x:inline-block x:no-underline!;
  }
}

.x-top-page,
.x-contact-page {
  h1 {
    @apply x:text-5xl x:font-medium x:my-2;
  }

  h2 {
    @apply x:text-3xl x:font-medium x:my-2;
  }

  h3 {
    @apply x:text-xl x:my-1;
  }

  a {
    @apply x:underline;
  }
}

.x-contact-page {
  h2 {
    @apply x:text-3xl x:font-medium x:my-2;
  }

  h3 {
    @apply x:text-xl x:mt-6 x:flex x:items-center x:gap-2;
  }

  a {
    @apply x:underline;
  }

  .social-icons {
    width: 30px;
    height: 30px;
  }
}

.x-hero {
  @apply x:my-36;

  h1 {
    @apply x:text-violet-700;
  }
}

.x-page-header {
  @apply x:my-24;

  h1 {
    @apply x:text-5xl x:font-medium x:my-2 x:text-violet-700;
  }
}

.x-post-card {
  @apply x:my-10;
  @apply x:clear-both;

  h2 {
    @apply x:text-2xl x:font-medium;
  }

  time {
    @apply x:block x:text-sm x:text-gray-500;
  }

  section {
    @apply x:my-36;
  }

  a {
    @apply x:underline;
  }
}

.x-prose-header {
  @apply x:mt-36 x:mb-20;

  h1 {
    @apply x:text-4xl x:font-medium x:mt-5 x:mb-3;
  }

  .x-meta-block {
    @apply x:text-sm x:text-gray-500 x:dark:text-gray-400;
  }
}

.x-prose {
  h1 {
    @apply x:text-4xl x:font-medium x:mt-5 x:mb-3;
  }

  h2 {
    @apply x:text-2xl x:font-medium x:mt-20 x:mb-3;
  }

  h3 {
    @apply x:text-xl x:font-medium x:mt-5 x:mb-3;
  }

  h4 {
    @apply x:font-medium x:mt-5 x:mb-3;
  }

  ul {
    @apply x:list-disc x:list-outside x:ml-5;
  }

  li {
    @apply x:my-2;
  }

  ol {
    @apply x:list-decimal x:list-outside x:ml-5;
  }

  a {
    @apply x:underline;

    svg {
      @apply x:inline-block;
    }
  }

  p {
    @apply x:my-3;
  }

  code {
    @apply x:font-bold;
  }

  hr {
    @apply x:my-10 x:border-neutral-200 x:dark:border-neutral-700;
  }
}

.x-bio {
  @apply x:bg-neutral-200 x:dark:bg-neutral-800 x:p-4;

  h3 {
    @apply x:text-xl x:font-medium x:my-2;
  }

  h4 {
    @apply x:font-light;
  }
}

p {
  @apply x:my-2;
}

.x-tag {
  @apply x:px-2.5 x:py-0.5 x:text-sm x:font-semibold x:rounded-md x:transition-colors;
  @apply x:bg-neutral-900 x:text-white;
  @apply x:dark:bg-gray-50 x:dark:text-black;

  &:hover {
    @apply x:bg-neutral-500;
    @apply x:dark:bg-gray-200;
  }
}

.x-global-footer {
  @apply x:bg-neutral-100 x:p-2 x:my-24 x:flex x:items-center x:justify-between x:flex-col x:sm:flex-row;

  a {
    @apply x:underline;
  }

  .x-author {
    @apply x:font-medium;
  }

  .x-col2 {
    @apply x:flex x:flex-row x:items-start x:gap-3
  }

  .social-icons {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.social-icons {
  @apply x:inline-block;
}